<div class='jumbotron center'>
<h1>Welcome to TC</h1>
<p>Welcome to TC ... Be part of the Conversation and 
	<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
	<%= link_to "Log In", "#", class: "btn btn-primary btn-lg" %>
</p>
</div>